.sustainabilityImpact {
  	width: 100%;
  	height: 6552px;
  	position: relative;
  	background-color: #161518;
  	overflow: hidden;
  	text-align: left;
  	font-size: 36px;
  	color: #ebebeb;
  	font-family: 'Plus Jakarta Sans';
}
.sustainabilityImpactChild {
  	position: absolute;
  	height: 43.11%;
  	width: 109.32%;
  	top: -0.31%;
  	right: -4.43%;
  	bottom: 57.21%;
  	left: -4.89%;
  	border-radius: 6px;
  	background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0));
  	opacity: 0.78;
  	flex-shrink: 0;
}
.sustainabilityImpactItem {
  	position: absolute;
  	top: 17px;
  	left: 22px;
  	box-shadow: 0px 19px 173.8px -11px rgba(27, 55, 176, 0.25);
  	border-radius: 0px 0px 22px 22px;
  	background-color: #f8f8f8;
  	width: 1692px;
  	height: 90px;
  	flex-shrink: 0;
}
.sustainabilityImpactInner {
  	position: absolute;
  	top: 181px;
  	left: 544px;
  	filter: blur(360px);
  	border-radius: 50%;
  	background-color: #3152df;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 626px;
  	height: 632px;
  	opacity: 0.3;
  	flex-shrink: 0;
}
.groupIcon {
  	position: absolute;
  	top: -162px;
  	left: 8px;
  	width: 1764.7px;
  	height: 2594px;
  	flex-shrink: 0;
}
.sustainabilityImpactChild2 {
  	position: absolute;
  	top: 2432px;
  	left: 8px;
  	width: 1764.7px;
  	height: 2594px;
  	opacity: 0.2;
  	flex-shrink: 0;
}
.navbarMenu {
  	position: absolute;
  	top: 53px;
  	left: 410px;
  	width: 325px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
  	font-size: 14px;
  	color: #000;
}
.navMenu {
  	height: 20px;
  	width: 327px;
  	position: relative;
}
.nav {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 327px;
  	height: 20px;
}
.homeWrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
}
.home {
  	position: relative;
  	line-height: 20px;
}
.productsParent {
  	position: absolute;
  	top: 0px;
  	left: 81px;
  	display: flex;
  	align-items: center;
  	gap: 10px;
}
.caretdownIcon {
  	height: 12px;
  	width: 12px;
  	position: relative;
}
.technologiesParent {
  	position: absolute;
  	top: 0px;
  	left: 205px;
  	display: flex;
  	align-items: center;
  	gap: 10px;
}
.navbarMenu2 {
  	position: absolute;
  	top: 53px;
  	left: 827px;
  	width: 413px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
  	font-size: 14px;
  	color: #000;
}
.navMenu2 {
  	height: 20px;
  	width: 348px;
  	position: relative;
}
.nav2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 348px;
  	height: 20px;
}
.aboutUsParent {
  	position: absolute;
  	top: 0px;
  	left: 146px;
  	display: flex;
  	align-items: center;
  	gap: 10px;
  	flex-shrink: 0;
}
.newsletters {
  	position: absolute;
  	top: 0px;
  	left: 269px;
  	line-height: 20px;
  	flex-shrink: 0;
}
.contactParent {
  	position: absolute;
  	top: 0px;
  	left: 390px;
  	display: flex;
  	align-items: center;
  	gap: 10px;
  	flex-shrink: 0;
}
.contact {
  	width: 62px;
  	position: relative;
  	line-height: 20px;
  	display: inline-block;
  	flex-shrink: 0;
}
.div {
  	position: absolute;
  	top: 50px;
  	left: 1555.14px;
  	font-size: 14px;
  	line-height: 20px;
  	color: #000;
  	flex-shrink: 0;
}
.somethinggmailcom {
  	position: absolute;
  	top: 47px;
  	left: 61.14px;
  	font-size: 14px;
  	line-height: 20px;
  	color: #000;
  	flex-shrink: 0;
}
.existingBrandKit21 {
  	position: absolute;
  	top: 34px;
  	left: 793.14px;
  	width: 152px;
  	height: 51px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.sustainabilityImpactChild3 {
  	position: absolute;
  	top: 5026px;
  	left: 7px;
  	width: 1765.7px;
  	height: 5188px;
  	flex-shrink: 0;
}
.rectangleDiv {
  	position: absolute;
  	top: 77px;
  	left: 1250px;
  	border-radius: 2.5px;
  	background-color: #3152df;
  	width: 80px;
  	height: 5px;
  	flex-shrink: 0;
}
.refnicEnablesIndustries {
  	position: absolute;
  	top: 562px;
  	left: calc(50% - 410px);
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #fff;
  	text-align: center;
  	display: inline-block;
  	width: 821px;
  	height: 92px;
  	flex-shrink: 0;
}
.turningWasteInto {
  	position: absolute;
  	top: 280px;
  	left: calc(50% - 620px);
  	font-size: 120px;
  	line-height: 100%;
  	display: inline-block;
  	color: #f8f8f8;
  	text-align: center;
  	width: 1240px;
  	flex-shrink: 0;
}
.wasteToResource {
  	position: absolute;
  	top: 2394px;
  	left: calc(50% - 700px);
  	font-size: 64px;
  	line-height: 100%;
  	display: inline-block;
  	width: 303px;
  	flex-shrink: 0;
}
.ifYourePassionate {
  	position: absolute;
  	top: 4615px;
  	left: calc(50% - 342px);
  	font-size: 20px;
  	line-height: 32.46px;
  	color: #fff;
  	text-align: center;
  	display: inline-block;
  	width: 700px;
  	height: 97px;
  	flex-shrink: 0;
}
.sustainabilityImpactChild4 {
  	position: absolute;
  	top: 4062px;
  	left: 621px;
  	width: 512px;
  	height: 517.1px;
  	flex-shrink: 0;
}
.cta {
  	position: absolute;
  	top: 4805px;
  	left: calc(50% - 117px);
  	border-radius: 8px;
  	background-color: #1b37b0;
  	display: flex;
  	align-items: flex-start;
  	flex-shrink: 0;
  	font-size: 18.42px;
  	color: #f4f4f4;
}
.buttonLogin {
  	border-radius: 6.91px;
  	background-color: #3152df;
  	display: flex;
  	align-items: flex-start;
  	padding: 18.4px 27.6px;
}
.viewOpenPositions {
  	height: 22px;
  	width: 190px;
  	position: relative;
  	line-height: 20.72px;
  	display: inline-block;
  	flex-shrink: 0;
}
.cta2 {
  	position: absolute;
  	top: 754px;
  	left: calc(50% - 130px);
  	border-radius: 8px;
  	background-color: #1b37b0;
  	display: flex;
  	align-items: flex-start;
  	flex-shrink: 0;
  	font-size: 18.42px;
  	color: #f4f4f4;
}
.exploreOurImpact {
  	position: relative;
  	line-height: 20.72px;
}
.groupParent {
  	position: absolute;
  	top: 5526px;
  	left: 46px;
  	width: 1638px;
  	height: 980px;
  	flex-shrink: 0;
  	font-size: 349.13px;
  	color: #f8f8f8;
}
.ellipseParent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1638px;
  	height: 980px;
}
.groupChild {
  	position: absolute;
  	top: 0px;
  	left: 1156px;
  	border-radius: 50%;
  	background-color: #3152df;
  	width: 283px;
  	height: 275px;
}
.groupItem {
  	position: absolute;
  	top: 368px;
  	left: 0px;
  	border-radius: 12px;
  	background-color: #f8f8f8;
  	width: 1638px;
  	height: 612px;
}
.refnic {
  	position: absolute;
  	top: 69px;
  	left: calc(50% - 546px);
  	line-height: 100%;
  	display: inline-block;
  	width: 1092px;
  	height: 305.5px;
}
.existingBrandKit22 {
  	position: absolute;
  	top: 427px;
  	left: 75px;
  	width: 194px;
  	height: 65px;
  	object-fit: cover;
}
.sustainabilityImpactChild5 {
  	position: absolute;
  	top: 1002px;
  	left: calc(50% - 823px);
  	border-radius: 12px;
  	background-color: #161518;
  	width: 1638px;
  	height: 1082px;
  	flex-shrink: 0;
}
.vectorParent {
  	position: absolute;
  	top: 1247px;
  	left: 169px;
  	width: 427px;
  	height: 720px;
  	flex-shrink: 0;
  	color: #09080a;
}
.frameChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 8px;
  	width: 427px;
  	height: 720px;
  	opacity: 0.61;
}
.wasteDiverted {
  	position: absolute;
  	top: 54px;
  	left: 56px;
  	line-height: 100%;
  	display: inline-block;
  	width: 159px;
  	height: 68px;
}
.topIcon {
  	position: absolute;
  	top: 148px;
  	left: 25px;
  	width: 221px;
  	height: 223.2px;
  	opacity: 0.4;
}
.completeHydrometallurgicalPr {
  	position: absolute;
  	top: 413px;
  	left: 58px;
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #151515;
  	display: inline-block;
  	width: 323px;
  	height: 166px;
}
.cta3 {
  	position: absolute;
  	top: 608px;
  	left: calc(50% - 157.5px);
  	border-radius: 8px;
  	background-color: #1b37b0;
  	display: flex;
  	align-items: flex-start;
  	font-size: 18.42px;
  	color: #f4f4f4;
}
.vectorGroup {
  	position: absolute;
  	top: 1247px;
  	left: 666px;
  	width: 427px;
  	height: 720px;
  	flex-shrink: 0;
  	color: #09080a;
}
.materialsRecovered {
  	position: absolute;
  	top: 54px;
  	left: 56px;
  	line-height: 100%;
  	display: inline-block;
  	width: 235px;
  	height: 64px;
}
.recoveringValuableMetals {
  	position: absolute;
  	top: 450px;
  	left: 56px;
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #151515;
  	display: inline-block;
  	width: 323px;
  	height: 129px;
}
.vectorContainer {
  	position: absolute;
  	top: 1247px;
  	left: 1162px;
  	width: 427px;
  	height: 720px;
  	flex-shrink: 0;
  	color: #09080a;
}
.reducingTheNeed {
  	position: absolute;
  	top: 474px;
  	left: 56px;
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #151515;
  	display: inline-block;
  	width: 323px;
  	height: 97px;
}
.theImpactWe {
  	position: absolute;
  	top: 1094px;
  	left: calc(50% - 367px);
  	font-size: 64px;
  	line-height: 100%;
  	display: inline-block;
  	color: #ebebeb;
  	text-align: center;
  	width: 726px;
  	flex-shrink: 0;
}
.collect {
  	position: absolute;
  	top: 2283px;
  	left: calc(50% + 109px);
  	line-height: 100%;
  	display: inline-block;
  	width: 134px;
  	flex-shrink: 0;
}
.refine {
  	position: absolute;
  	top: 2594px;
  	left: calc(50% + 122px);
  	line-height: 100%;
  	flex-shrink: 0;
}
.process {
  	position: absolute;
  	top: 2288px;
  	left: calc(50% + 539px);
  	line-height: 100%;
  	display: inline-block;
  	width: 161px;
  	flex-shrink: 0;
}
.recover {
  	position: absolute;
  	top: 2584px;
  	left: calc(50% + 557px);
  	line-height: 100%;
  	display: inline-block;
  	width: 163px;
  	height: 32px;
  	flex-shrink: 0;
}
.reuse {
  	position: absolute;
  	top: 2901px;
  	left: calc(50% + 101px);
  	line-height: 100%;
  	display: inline-block;
  	width: 123px;
  	height: 33px;
  	flex-shrink: 0;
}
.sustainabilityImpactChild6 {
  	position: absolute;
  	top: 2281px;
  	left: 1133px;
  	width: 213px;
  	height: 50px;
  	opacity: 0.9;
  	flex-shrink: 0;
}
.sustainabilityImpactChild7 {
  	position: absolute;
  	top: 2584px;
  	left: 1164px;
  	width: 213px;
  	height: 50px;
  	object-fit: contain;
  	opacity: 0.9;
  	flex-shrink: 0;
}
.sustainabilityImpactChild8 {
  	position: absolute;
  	top: 2361.99px;
  	left: 1497px;
  	width: 51.6px;
  	height: 191.2px;
  	object-fit: contain;
  	opacity: 0.9;
  	flex-shrink: 0;
}
.sustainabilityImpactChild9 {
  	position: absolute;
  	top: 2669.98px;
  	left: 981px;
  	width: 51.6px;
  	height: 191.2px;
  	object-fit: contain;
  	opacity: 0.9;
  	flex-shrink: 0;
}
.refnicsSystemsAre {
  	position: absolute;
  	top: 2571px;
  	left: 169px;
  	font-size: 20px;
  	line-height: 32.46px;
  	color: #fff;
  	display: inline-block;
  	width: 472px;
  	height: 195px;
  	flex-shrink: 0;
}
.ourApproach {
  	position: absolute;
  	top: 3133px;
  	left: calc(50% - 222px);
  	font-size: 64px;
  	line-height: 100%;
  	display: inline-block;
  	text-align: center;
  	width: 517px;
  	flex-shrink: 0;
}
.ourApproach2 {
  	position: absolute;
  	top: 3975px;
  	left: calc(50% - 237px);
  	font-size: 64px;
  	line-height: 100%;
  	display: inline-block;
  	text-align: center;
  	width: 517px;
  	flex-shrink: 0;
}
.rectangleIcon {
  	position: absolute;
  	top: 3288px;
  	left: 191px;
  	width: 427px;
  	height: 435px;
  	opacity: 0.61;
  	flex-shrink: 0;
}
.sustainabilityImpactChild10 {
  	position: absolute;
  	top: 3289px;
  	left: 677px;
  	width: 427px;
  	height: 435px;
  	opacity: 0.61;
  	flex-shrink: 0;
}
.sustainabilityImpactChild11 {
  	position: absolute;
  	top: 3288px;
  	left: 1163px;
  	width: 427px;
  	height: 435px;
  	opacity: 0.61;
  	flex-shrink: 0;
}
.designForRecovery {
  	position: absolute;
  	top: 3335px;
  	left: 228px;
  	line-height: 100%;
  	display: inline-block;
  	width: 273px;
  	height: 63px;
  	flex-shrink: 0;
}
.buildForScale {
  	position: absolute;
  	top: 3336px;
  	left: 714px;
  	line-height: 100%;
  	display: inline-block;
  	width: 273px;
  	height: 63px;
  	flex-shrink: 0;
}
.measureWhatMatters {
  	position: absolute;
  	top: 3335px;
  	left: 1200px;
  	line-height: 100%;
  	display: inline-block;
  	width: 259px;
  	height: 69px;
  	flex-shrink: 0;
}
.engineeringSystemsAround {
  	position: absolute;
  	top: 3495px;
  	left: 227px;
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #fff;
  	display: inline-block;
  	width: 267px;
  	height: 107px;
  	flex-shrink: 0;
}
.developingSolutionsThat {
  	position: absolute;
  	top: 3462px;
  	left: 714px;
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #fff;
  	display: inline-block;
  	width: 318px;
  	height: 116px;
  	flex-shrink: 0;
}
.focusingOnMeasurable {
  	position: absolute;
  	top: 3488px;
  	left: 1199px;
  	font-size: 21.64px;
  	line-height: 32.46px;
  	color: #fff;
  	display: inline-block;
  	width: 370px;
  	height: 97px;
  	flex-shrink: 0;
}
.cta6 {
  	position: absolute;
  	top: 3618px;
  	left: calc(50% - 641px);
  	border-radius: 8px;
  	background-color: #1b37b0;
  	display: flex;
  	align-items: flex-start;
  	flex-shrink: 0;
  	font-size: 18.42px;
  	color: #f4f4f4;
}
.cta7 {
  	position: absolute;
  	top: 3618px;
  	left: calc(50% - 155px);
  	border-radius: 8px;
  	background-color: #1b37b0;
  	display: flex;
  	align-items: flex-start;
  	flex-shrink: 0;
  	font-size: 18.42px;
  	color: #f4f4f4;
}
.cta8 {
  	position: absolute;
  	top: 3618px;
  	left: calc(50% + 330px);
  	border-radius: 8px;
  	background-color: #1b37b0;
  	display: flex;
  	align-items: flex-start;
  	flex-shrink: 0;
  	font-size: 18.42px;
  	color: #f4f4f4;
}
